:root{
    --azul:#134074;
    --azulOscuro:#0B2545;
    --azulGris:#8DA9C4;
    --blanco:#fff;
    --fuente:'Quicksand', sans-serif;
}

body{
    font-family: var(--fuente);
    background-color: #BEC9D0;
    display: flex;
    align-items: stretch;
    height: 100vh;
}

.contenedor{
    margin: 30px 40px 40px 110px;
    position: fixed;
    height: 750px;
    width: 85%;
    padding-top: 50px;
    
}

.imagen-formulario{
    background-image: url('img/sif.jpg');
    background-position: center;
    background-size: cover;
    height: 120px;
    flex: 0 0 calc(60%);
    position: relative;
    
}

.imagen-register{
    background-image: url('img/register.png');
    background-position: center;
    background-size: cover;
    height: 750px;
    flex: 0 0 calc(65%);
    position: relative;

}
.imagen-formulario::before{
   content: '';
   position: absolute;
   top: 0;
   bottom: 0;
   left: 0;
   right: 0;
   background: linear-gradient(to right,rgba(141,169,196,.5), rgba(19, 64, 116, .5) );
   
}

@media(min-width:200px){
    .imagen-formulario{
        height: auto;
        background-position: right;
    }

}
@media(min-width:300px){
    .imagen-formulario{
        background-position: center;
    }
}

@media(min-width:550px){
    .contenedor-formulario{
        display: flex;
    }
}

.formulario{
    padding: 50px;
    background-color: var(--azul);
}
.texto-formulario h2, .input label, .password-olvidada a, .texto-formulario p{
    color: var(--blanco);
}
.texto-formulario h2{
    font-size: 40px;
    text-align: center;
}
.texto-formulario p{
    font-size: 22px;
    text-align: center;
}
.input label{
    display: block;
    font-size: 22px;
    font-weight: bold;
    margin: 20px 0;
}
.password-olvidada a{
    display: inline-block;
    margin-top: 20px;
    font-size: 22px;
}
.input input{
    width: 90%;
    padding: 10px 10px;
    border-radius: 5px;
    outline: none;
}
.input input[type="submit"]{
    background-color: chartreuse;
    color: var(--blanco);
    font-size: 22px;
    font-weight: bold;
    border: none;
    margin-top: 20px;
    position: center;
    transition: background-color .3s ease-in-out;
}
.input input[type="submit"]:hover{
  
    cursor: pointer;
    background-color: var(--azulOscuro);
}

#main-header {
	background: #134074;
	color: white;
	height: 69px;
    width: 12000px;
}	
	#main-header a {
		color: white;
	}

/*
 * Logo
 */
#logo-header {
	float: left;
	padding: 15px 0 0 20px;
	text-decoration: none;
}
	#logo-header:hover {
		color: #0b76a6;
	}
	
	#logo-header .site-name {
		display: block;
		font-weight: 700;
		font-size: 1.2em;
	}
	
	#logo-header .site-desc {
		display: block;
		font-weight: 300;
		font-size: 0.8em;
		color: #999;
	}
	

/*
 * Navegación
 */
nav {
	float: right;
}
	nav ul {
		margin: 0;
		padding: 0;
		list-style: none;
		padding-right: 20px;
	}
	
		nav ul li {
			display: inline-block;
			line-height: 70px;
		}
			
			nav ul li a {
				display: block;
				padding: 0 10px;
				text-decoration: none;
			}
			
				nav ul li a:hover {
					background: green;
				}


